<%if @products.count > 0 %>
    
    <ul class="collection with-header">
        <li class="collection-header"><h4>Products</h4></li>
        <% @products.each do |product| %>
            <li class="collection-item">
                <div>
                <span><%= product.name %> -- <%= product.sku %> </span>
                <a href="/products/<%= product.id %>" class="secondary-content">Open</a>
                </div>
            </li>
        <% end %>
    </ul>

<% else %>
    <h4> No Products Yet! </h4>
    <a href="/products/new">Create New Product</a>
<% end %>
